* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #94A6A2;
    color: #95775e;
    line-height: 1.6;
}

header, footer {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.logo img {
    width: 350px;
}

.navigation{
    background-color: #94A6A2;
    border-top-left-radius: 30px;
    padding: 50px;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #95775e;
    font-size: 22px;
    padding: 10px 15px;
    background-color: #94A6A2;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #95775e;
    color: white;
}

.signout {
    background-color: #95775e;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer p {
    background-color: #94A6A2;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

/* تحسين التخطيط باستخدام Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 5%;
}

/* تنسيق كرت الميكب آرتست */
.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #BFA380;
    border: solid 5px;
    border-radius: 25px;
    text-align: center;
    color: #e1dcd8;
    height: auto;
}

/* تحسين عرض الصورة */
.artist img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

/* تحسين شكل النص */
.artist .text {
    padding: 10px;
}

.artist h3 {
    background-color: #94A6A2;
    border-radius: 15px;
    padding: 5px;
    font-size: 1.2em;
}

.artist p {
    font-size: 1em;
    margin: 5px 0;
}

  

  
